{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}
{% block content %}    

  <div class="section-how-it-works">
         <div class="container">
            <div class="row">
               <div class="col-md-5 col-sm-6 col-xs-12">
                  <div class="left-works-box wow fadeIn" data-wow-delay="0.2s">
                     <h2>How it works if <br><span>you’re a buyer.</span></h2>
                     <p>We explained the buying proces of WYN in
                        three simple steps. See how it works,
                        benefits and FAQ.
                     </p>
                     <div class="form-email-box">
                        <h3>Sign up for free</h3>
                        <form class="box-email">
                           <input type="email" placeholder="Enter your e-mail" />
                           <button>Continue</button>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="col-md-7 col-sm-6 col-xs-12">
                  <div class="right-works-box">
                     <div class="small-box wow fadeIn" data-wow-delay="0.2s">
                        <div class="how-text-left">01</div>
                        <div class="how-dit-right">
                           <div class="dit-img">
                              <img class="img-responsive" src="{%static 'website/images/works-icon-01.png'%}" alt="" />
                           </div>
                           <h3>Sign up</h3>
                           <h2><span>worried about your education,</span><br> we have the solution.</h2>
                           <p>According to a survey (2015) , it was observed that a student's 60% study time is misspent in finding their books at different places
                              And we decided to change this circumstance.
                              Here, we provide you books related to Academics, Competitive exams & professional courses too. We also provide best sellers & most loved novels for our readers mind too.
                           </p>
                           <div class="line"></div>
                        </div>
                     </div>
                     <div class="searching-box wow fadeIn" data-wow-delay="0.4s">
                        <div class="how-text-left">02</div>
                        <div class="how-dit-right">
                           <div class="dit-img">
                              <img class="img-responsive" src="{%static 'website/images/works-icon-02.png'%}" alt="" />
                           </div>
                           <h3>Search</h3>
                           <h2>We revolutionized <br> <span>searching.</span></h2>
                           <p>Many of us find trouble in finding and searching the books we need . We go the shop, ask for the books , the retailer denies & we come home and think about how much time we wasted.
                              Here, you can find your books in an uncomplicated way.
                              We provide you categories for each book so you don't have to waste your time sticking to your phone and find WHAT YOU NEED .
                              
                           </p>
                           
                           <div class="line"></div>
                        </div>
                     </div>
                     <div class="sellers-box wow fadeIn" data-wow-delay="0.6s">
                        <div class="how-text-left">03</div>
                        <div class="how-dit-right">
                           <div class="dit-img">
                              <img class="img-responsive" src="{%static 'website/images/works-icon-03.png'%}" alt="" />
                           </div>
                           <h3>Contact & buy</h3>
                           <h2> <span>start buying</span></h2>
                           <p>So, as we said above we don't let you to stick your phone.
                              Hurry up !
                              Sign up & create your account
                           </p>
                           
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="works-systems">
         <div class="container">
            <div class="row">
               <div class="col-md-5 col-sm-6 col-xs-12">
                  <div class="sys-box-left-a wow fadeIn" data-wow-delay="0.2s">
                     <h2> benefits of reading books <br>
                        
                     </h2>
                     
                     <p>7 Scientific Benefits of Reading Printed Books
                        <ul> You absorb more information. ... 
                        <ul> They help children become better readers, too. ...
                           <ul> They're easier on the eyes. ...
                              <ul> You're less likely to get distracted. ...
                                 <ul> They can help you sleep better. ...
                                    <ul>  Having a library at home is linked to higher academic achievement. ...
                                       <ul>  They amplify the joy of reading.
                       
                     </p>
                  </div>
               </div>
               <div class="col-md-7 col-sm-6 col-xs-12">
                  <div class="sys-box-right-a wow fadeIn" data-wow-delay="0.4s">
                     <img class="img-responsive" src="{%static 'website/images/bbss.png'%}" alt="" />
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="sys-box-left-b wow fadeIn" data-wow-delay="0.2s">
                     <img src="Screenshot (21).png" alt="" />
                  </div>
               </div>
               <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="sys-box-right-b wow fadeIn" data-wow-delay="0.4s">
                     <h2>Powerful search tools <br>
                        for finding products.
                     </h2>
                    
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-5 col-sm-6 col-xs-12">
                  <div class="sys-box-left-c wow fadeIn" data-wow-delay="0.2s">
                     <h2>Find Exciting and Exotic
                        Products.
                     </h2>
                    
                  </div>
               </div>
               <div class="col-md-7 col-sm-6 col-xs-12">
                  <div class="sys-box-right-c wow fadeIn" data-wow-delay="0.4s">
                     <img src="{%static 'website/images/Screenshot (22).png'%}" alt="" />
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="section-safety">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h2>Benefis with trust and safety</h2>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.2s">
                  <div class="benenfit-box">
                     <div class="icon-b">
                        <img src="{%static 'website/images/icon-b1.png'%}" alt="" />
                     </div>
                     <h3>Branden Minisite</h3>
                     <p>
                     </p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
                  <div class="benenfit-box">
                     <div class="icon-b">
                        <img src="{%static 'website/images/icon-b2.png'%}" alt="" />
                     </div>
                     <h3>Vetted Sellers</h3>
                     <p>
                     </p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
                  <div class="benenfit-box">
                     <div class="icon-b">
                        <img src="{%static 'website/images/icon-b3.png'%}" alt="" />
                     </div>
                     <h3>Verified with 3. part</h3>
                     <p>
                     </p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.2s">
                  <div class="benenfit-box">
                     <div class="icon-b">
                        <img src="{%static 'website/images/icon-b4.png'%}" alt="" />
                     </div>
                     <h3>Data Protection</h3>
                     <p>
                     </p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
                  <div class="benenfit-box">
                     <div class="icon-b">
                        <img src="{%static 'website/images/icon-b5.png'%}" alt="" />
                     </div>
                     <h3>Support</h3>
                     <p>
                     </p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.2s">
                  <div class="benenfit-box">
                     <div class="icon-b">
                        
                     </div>
                     
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="faq-box wow fadeIn" data-wow-delay="0.0s">
         <div class="container">
            <div class="row">
               <div class="faq-main-box">
                  <h2>Questions and answers</h2>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="heading-faq-1">
                              <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq-a" aria-expanded="true" aria-controls="faq-a">
                                 What can i do with WYN?
                                 </a>
                              </h4>
                           </div>
                           <div id="faq-a" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-faq-1">
                              <div class="panel-body">Vivamus in arcu urna. Vivamus nibh leo, viverra vitae facilisis id, auctor in nulla. Aliquam eu nunc vitae turpis maximus posuere sed auctor mi. Cras sit amet quam malesuada dui vestibulum lobortis a at orci.</div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="heading-faq-2">
                              <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq-b" aria-expanded="false" aria-controls="faq-b">
                                 How do I oder?
                                 </a>
                              </h4>
                           </div>
                           <div id="faq-b" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-faq-2">
                              <div class="panel-body">Vivamus in arcu urna. Vivamus nibh leo, viverra vitae facilisis id, auctor in nulla. Aliquam eu nunc vitae turpis maximus posuere sed auctor mi. Cras sit amet quam malesuada dui vestibulum lobortis a at orci.</div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="heading-faq-3">
                              <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq-c" aria-expanded="false" aria-controls="faq-c">
                                 When will I be charged?
                                 </a>
                              </h4>
                           </div>
                           <div id="faq-c" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-faq-3">
                              <div class="panel-body">Vivamus in arcu urna. Vivamus nibh leo, viverra vitae facilisis id, auctor in nulla. Aliquam eu nunc vitae turpis maximus posuere sed auctor mi. Cras sit amet quam malesuada dui vestibulum lobortis a at orci.</div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="heading-faq-4">
                              <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq-d" aria-expanded="false" aria-controls="faq-d">
                                 How can i cancel my order?
                                 </a>
                              </h4>
                           </div>
                           <div id="faq-d" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-faq-4">
                              <div class="panel-body">Vivamus in arcu urna. Vivamus nibh leo, viverra vitae facilisis id, auctor in nulla. Aliquam eu nunc vitae turpis maximus posuere sed auctor mi. Cras sit amet quam malesuada dui vestibulum lobortis a at orci. </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <div class="panel-group" id="accordion-a" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="heading-faq-right-1">
                              <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion-a" href="#faq-right-a" aria-expanded="true" aria-controls="faq-right-a">
                                 Can I get help to create my account?
                                 </a>
                              </h4>
                           </div>
                           <div id="faq-right-a" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-faq-right-1">
                              <div class="panel-body">You can look at all the products being sold on Chamb and be able to contact all sellers. </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="heading-faq-right-2">
                              <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion-a" href="#faq-right-b" aria-expanded="false" aria-controls="faq-right-b">
                                 What if i only want to try WYN?
                                 </a>
                              </h4>
                           </div>
                           <div id="faq-right-b" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-faq-right-2">
                              <div class="panel-body">Just go into your account options, click on the my subscriptions tab, click on the upgrade my subscription button, then follow the instruction on screen to level up your Chamb experience. </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="heading-faq-right-3">
                              <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion-a" href="#faq-right-c" aria-expanded="false" aria-controls="faq-right-c">
                                 What if i need a Books that is not ont the website?
                                 </a>
                              </h4>
                           </div>
                           <div id="faq-right-c" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-faq-right-3">
                              <div class="panel-body">When creating an account, our ‘guided tour’ tutorial system will walk you through every aspect of the account generation process. From filling in your name to posting your first product or searching for your first item; nothing is left to chance </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="heading-faq-right-4">
                              <h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion-a" href="#faq-right-d" aria-expanded="false" aria-controls="faq-right-d">
                                 I have more questions..
                                 </a>
                              </h4>
                           </div>
                           <div id="faq-right-d" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-faq-right-4">
                              <div class="panel-body">All accounts, whether you are a buyer or a seller, can register for a free account. Here you should be able to judge if Chamb is the right place to help grow your business. </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--main js--> 
      <script src="{%static 'website/js/jquery-1.12.4.min.js'%}"></script> 
      <!--bootstrap js--> 
      <script src="{%static 'website/js/bootstrap.min.js'%}"></script> 
      <script src="{%static 'website/js/bootstrap-select.min.js'%}"></script>
      <script src="{%static 'website/js/slick.min.js'%}"></script> 
      <script src="{%static 'website/js/wow.min.js'%}"></script> 
      <!--custom js--> 
      <script src="{%static 'website/js/custom.js'%}"></script>
   {% endblock %}